<div class="card-container">

    <!-- <button class="left_button">


    </button> -->

    <div class="box" NgFor="deck">


        <div>
        <p *ngIf="currentCard">{{ currentCard }}</p>
        <p *ngIf="currentCard">{{ currentCard }}</p>
        </div>

        <div>
            <p *ngIf="currentCard">{{ currentCard }}</p>
            <p *ngIf="currentCard">{{ currentCard }}</p>
            <p *ngIf="currentCard">{{ currentCard }}</p>

        </div>

    </div>
   
    

<!-- 
    <button class="right_button">


    </button> -->
  </div>
