.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    height: 100%;
    width: 100%;
    
}
.left_button {

    display: flex;
}

.box {
    display: flex;
    height: 100%;
    width: 60%;
    background-color: aliceblue;
    flex-direction: row;
}


