

<div [ngSwitch]="status">
    <div *ngSwitchCase="'services'">

        <div class="drop_down_box">

            <div class="services_box">
                <h1> Discovering Discover what We Offer
                   </h1>
                <p>  Explore our diverse range of services tailored to meet your needs and exceed your expectations. From cutting-edge software development to innovative digital solutions, we provide the expertise and creativity to bring your projects to life.</p>


            </div>
            <div>
                <ul class="dropdown-menu">
                    <div *ngFor="let option of options" >
                        <h4 class="options_value ">{{ option.label }}</h4>
                        
                    </div>
                </ul>
            </div>
            
        </div>
    </div>
    <div *ngSwitchCase="'solutions'">

        <div class="drop_down_box">

            <div class="services_box">
                <h1> Discovering Discover what We Offer
                   </h1>
                <p>  Explore our diverse range of services tailored to meet your needs and exceed your expectations. From cutting-edge software development to innovative digital solutions, we provide the expertise and creativity to bring your projects to life.</p>


            </div>
            <div>
                <ul class="dropdown-menu">
                    <div *ngFor="let option of options" >
                        <h4 class="options_value ">{{ option.label }}</h4>
                        
                    </div>
                </ul>
            </div>
            
        </div>
    </div>
    <div *ngSwitchCase="'industries'">

        <div class="drop_down_box">

            <div class="services_box">
                <h1> Discovering Discover what We Offer
                   </h1>
                <p>  Explore our diverse range of services tailored to meet your needs and exceed your expectations. From cutting-edge software development to innovative digital solutions, we provide the expertise and creativity to bring your projects to life.</p>


            </div>
            <div>
                <ul class="dropdown-menu">
                    <div *ngFor="let option of options" >
                        <h4 class="options_value ">{{ option.label }}</h4>
                        
                    </div>
                </ul>
            </div>
            
        </div>
    </div>
    <div *ngSwitchCase="'work'">

        <div class="drop_down_box">

            <div class="services_box">
                <h1> Discovering Discover what We Offer
                   </h1>
                <p>  Explore our diverse range of services tailored to meet your needs and exceed your expectations. From cutting-edge software development to innovative digital solutions, we provide the expertise and creativity to bring your projects to life.</p>


            </div>
            <div>
                <ul class="dropdown-menu">
                    <div *ngFor="let option of options" >
                        <h4 class="options_value ">{{ option.label }}</h4>
                        
                    </div>
                </ul>
            </div>
            
        </div>
    </div>
    <div *ngSwitchCase="'company'">

        <div class="drop_down_box">

            <div class="services_box">
                <h1> Discovering Discover what We Offer
                   </h1>
                <p>  Explore our diverse range of services tailored to meet your needs and exceed your expectations. From cutting-edge software development to innovative digital solutions, we provide the expertise and creativity to bring your projects to life.</p>


            </div>
            <div>
                <ul class="dropdown-menu">
                    <div *ngFor="let option of options" >
                        <h4 class="options_value ">{{ option.label }}</h4>
                        
                    </div>
                </ul>
            </div>
            
        </div>
    </div>
    <div *ngSwitchCase="'developers'">

        <div class="drop_down_box">

            <div class="services_box">
                <h1> Discovering Discover what We Offer
                   </h1>
                <p>  Explore our diverse range of services tailored to meet your needs and exceed your expectations. From cutting-edge software development to innovative digital solutions, we provide the expertise and creativity to bring your projects to life.</p>


            </div>
            <div>
                <ul class="dropdown-menu">
                    <div *ngFor="let option of options" >
                        <h4 class="options_value ">{{ option.label }}</h4>
                        
                    </div>
                </ul>
            </div>
            
        </div>
    
</div>


